.common-btn {
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 5px;
}

.common-btn.primary {
  background-color: #7cb171;
  color: white;
}

.common-btn.primary:hover {
  background-color: #6c8364;
}

.common-btn.secondary {
  background-color: #ccc;
  color: #333;
}

.common-btn.secondary:hover {
  background-color: #b3b3b3;
}

.common-btn.outline {
  background-color: transparent;
  color: #7cb171;
  border: 1px solid #7cb171;
  
}

.common-btn.outline:hover {
  background-color: #e8f0fe;
}
